# Get Bi-weekly stats

Simple notebook to merge 2 weeks csv files and get the relevant difference.

In [1]:
import pandas as pd
import numpy as np

In [24]:
new_df = pd.read_csv("/home/soham37/python/stats_iitp_26May.csv") # get the new stat.csv
old_df = pd.read_csv("/home/soham37/python/12May_iitp.csv") # get the previous stat.csv

In [26]:
merged_df = new_df.merge(old_df, how = "left", on = ['Language Pair', 'Domain', 'Type']) # Merge the dfs

In [27]:
merged_df["Files"] = merged_df["Files_x"]
merged_df["Lines"] = merged_df["Lines_x"] - merged_df["Lines_y"]
merged_df["Words"] = merged_df["Words_x"] - merged_df["Words_y"]  # Subtract the lines and words columns

In [28]:
merged_df = merged_df.drop(columns =["Lines_x", "Lines_y", "Words_x", "Words_y", "Files_x", "Files_y"], ) # Drop the duplicate columns

In [31]:
merged_df.to_csv("/home/soham37/python/biweekly_26thMay.csv") # Convert back into csv

  Language Pair Domain               Type  Files  Lines  Words
0       HIN-BAN   AGRI    source_reviewed      1      0      0
1       HIN-BAN   AGRI  source_translated     31      0      0
2       HIN-BAN    EDU    source_reviewed     29      0      0
3       HIN-BAN    EDU  source_translated     53      0      0
4       HIN-BAN    GOV    source_reviewed    134      0      0