# Get Bi-weekly stats

Simple notebook to merge 2 weeks csv files and get the relevant difference.

In [1]:
import pandas as pd
import numpy as np

In [2]:
new_df = pd.read_csv("/home/soham37/python/stats_iitp_31Jul.csv") # get the new stat.csv
old_df = pd.read_csv("/home/soham37/python/stats_iitp_21Jul.csv") # get the previous stat.csv

In [3]:
merged_df = new_df.merge(old_df, how = "left", on = ['Language Pair', 'Domain', 'Type']) # Merge the dfs

In [4]:
# Fill NaNs in the columns from old_df with 0
merged_df["Lines_y"] = merged_df["Lines_y"].fillna(0)
merged_df["Words_y"] = merged_df["Words_y"].fillna(0)

In [5]:
merged_df["Files"] = merged_df["Files_x"]
merged_df["Lines"] = merged_df["Lines_x"] - merged_df["Lines_y"]
merged_df["Words"] = merged_df["Words_x"] - merged_df["Words_y"]  # Subtract the lines and words columns

In [6]:
merged_df = merged_df.drop(columns =["Lines_x", "Lines_y", "Words_x", "Words_y", "Files_x", "Files_y"], ) # Drop the duplicate columns

In [7]:
merged_df.to_csv("/home/soham37/python/iitp_biweekly_31Jul.csv") # Convert back into csv

In [8]:
merged_df

   Language Pair Domain               Type  Files   Lines     Words
0        HIN-BAN   AGRI    source_reviewed     15   899.0   17889.0
1        HIN-BAN   AGRI  source_translated     32    -3.0     -14.0
2        HIN-BAN    EDU    source_reviewed     42   -47.0    -383.0
3        HIN-BAN    EDU  source_translated    122  1729.0   35168.0
4        HIN-BAN    GOV    source_reviewed    156   554.0   11941.0
5        HIN-BAN    GOV  source_translated    165   -42.0    -442.0
6        HIN-BAN    HLT    source_reviewed     22   -19.0    1131.0
7        HIN-BAN    HLT  source_translated     24  -126.0    -554.0
8        HIN-BAN    JUD    source_reviewed     63  1344.0   42764.0
9        HIN-BAN    JUD  source_translated     65  -624.0   -5091.0
10       HIN-BAN   TOUR    source_reviewed      7   194.0    3516.0
11       HIN-BAN   TOUR  source_translated     14    -5.0     -32.0
12       HIN-MAI   AGRI    source_reviewed     51     0.0       0.0
13       HIN-MAI   AGRI  source_translated     51     0.0       0.0
14       HIN-MAI    EDU    source_reviewed     81   291.0    5649.0
15       HIN-MAI    EDU  source_translated    138   -20.0    -105.0
16       HIN-MAI    GOV    source_reviewed    191   200.0    4493.0
17       HIN-MAI    GOV  source_translated    214    -1.0      -6.0
18       HIN-MAI    HLT    source_reviewed     22    -1.0      -1.0
19       HIN-MAI    HLT  source_translated     24    -1.0      -1.0
20       HIN-MAI    JUD    source_reviewed     26   399.0   13399.0
21       HIN-MAI    JUD  source_translated     66     0.0    -311.0
22       HIN-MAI   TOUR    source_reviewed     33    97.0    2308.0
23       HIN-MAI   TOUR  source_translated     41    -4.0     -61.0
24       HIN-ODI   AGRI    source_reviewed     51   -10.0    -150.0
25       HIN-ODI   AGRI  source_translated     51    -5.0     -61.0
26       HIN-ODI    EDU    source_reviewed     78    85.0    1684.0
27       HIN-ODI    EDU  source_translated     84   283.0    6076.0
28       HIN-ODI    GOV    source_reviewed     59   -23.0    -252.0
29       HIN-ODI    GOV  source_translated     65   -27.0    -279.0
30       HIN-ODI    HLT    source_reviewed     24    -3.0      -9.0
31       HIN-ODI    HLT  source_translated     24    -2.0      -3.0
32       HIN-ODI    JUD    source_reviewed     46   367.0    9186.0
33       HIN-ODI    JUD  source_translated     53   -53.0   -1032.0
34       HIN-ODI   TOUR  source_translated      5   400.0    7335.0
35       HIN-SAT   AGRI    source_reviewed      5     0.0       0.0
36       HIN-SAT   AGRI  source_translated     14    -1.0    -105.0
37       HIN-SAT    EDU    source_reviewed      6   600.0    9619.0
38       HIN-SAT    EDU  source_translated     17     0.0       0.0
39       HIN-SAT    GOV    source_reviewed     74   -20.0    -176.0
40       HIN-SAT    GOV  source_translated     79     0.0       0.0
41       HIN-SAT    HLT    source_reviewed     17     0.0       0.0
42       HIN-SAT    HLT  source_translated     18     0.0       0.0
43       HIN-SAT   TOUR    source_reviewed      6   100.0    1768.0
44       HIN-SAT   TOUR  source_translated      6     2.0      48.0
45         TOTAL    NaN                NaN   2447  6507.0  164906.0